.product-card {
    max-width: 400px;
    margin-bottom: 15px;
}

.example-header-image {
    background-size: cover;
}

mat-card {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.footer-spacer {
    flex: 1 1 auto;
}

mat-form-field {
    margin-right: 12px;
}

.example-button-row {
    display: table-cell;
    width: 100%;
}
  
.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}
  
.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}